{% extends 'base.html.j2' %}

{% block content %}
    <h1>{% block title %} URL Shortener {% endblock %}</h1>
    <form method="post">
        <div class="form-group">
            <!-- label for="url">Enter URL:</label -->
            <input type="url" name="url" placeholder="https://example.com" class="form-control"
                value="{{ request.form['url'] }}" autofocus></input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if short_url %}
        <hr>
        <div class="form-outline">
            <input
                class="form-control"
                id="shortUrl"
                type="text"
                value="{{ short_url }}"
                aria-label="readonly input example"
                readonly
            />
            <button class="btn btn-secondary" type="button" onclick="copyShortUrl()" onmouseout="resetTooltip()">
            <span class="tooltiptext" id="myTooltip">Copy</span>
            </button>
        </div>
        <script>
        function copyShortUrl() {
            var copyText = document.getElementById("shortUrl");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);

            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copied!";
        }

        function resetTooltip() {
            var tooltip = document.getElementById("myTooltip");
            tooltip.innerHTML = "Copy";
        }
        </script>
    {% endif %}
{% endblock %}